.container {
    display: flex;
    width: 1280px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px 85px 114px 85px;
}

.box {
    display: flex;
    height: 366px;
    width: 350px;
    background-color: #ffffff;
    border: 1px solid black;
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.sub-title {
    width: 71px;
    height: 153px;
    border: 1px solid black;
    margin: 25px 0px 0px 61px;
}

.sub-box {
    height: 33px;
    width: 120px;
    border: 1px solid black;
    margin: 21px 0px 4px 15px;
    text-align: center;
}