.container {
    display: flex;
    width: 1280px;
    height: 1372px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px 85px 114px 85px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
}

.box {
    display: flex;
    height: 366px;
    width: 350px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 3px 10px #D8D8D8;
    border-radius: 100px 0px 30px 0px;
    opacity: 1;
}

.sub-title {
    width: 71px;
    height: 153px;
    margin: 25px 0px 5px 61px;
    font: Bold 128px/128px Helvetica Neue;
    letter-spacing: 0px;
    color: #2EB738;
    text-shadow: 4px 3px 0px #F0F0F0;
    opacity: 1;
}

.sub-box {
    height: 33px;
    width: 120px;
    margin: 17px 10px 11px 15px;
    text-align: center;
    font: Regular 24px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #2EB738;
    opacity: 1;
}

.box-title {
    height: 310px;
    width: 280px;
    border: 1px solid black;
    margin: 66.5px 0px 0px 40px;
}

.caption {
    height: 78px;
    width: 280px;
    border: 1px solid black;
    margin-top: 100px;
    text-align: center;
    font: Medium 56px/84px PingFang TC;
    letter-spacing: 0px;
    color: #2EB738;
    opacity: 1;
}

.english {
    height: 28px;
    width: 278px;
    border: 1px solid black;
    text-align: center;
    font: Regular 24px/36px Helvetica Neue;
    letter-spacing: 0px;
    color: #2EB738;
    opacity: 1;
}